# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RomanIntegerServices.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\LC\source\repos\RomanIntegerServices\.idea\.idea.RomanIntegerServices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
